@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@media screen 
{
    .Cadastro  {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: black;
        overflow: hidden;
    }
    .Cadastro .Video {
        height: 100%;
        object-fit: cover;
    }
    .Cadastro .Video.Fundo {
        opacity: .2;
        filter: blur(5px);
    }
    .Cadastro .Form {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    .Cadastro .Fields {
        width: 250px;
    }
    .Cadastro .Field {
        padding: 15px 0;
    }
    .Cadastro .Text {
        font-family: 'Roboto Condensed', sans-serif;
        width: 100%;
        padding: 15px 20px;
        font-size: 1.3em;
        box-sizing: border-box;
        border-radius: 3px;
        border: none;
        text-align: center;
    }
    .Cadastro .Color {
        box-sizing: border-box;
        -webkit-appearance: none;
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 3px;
    }
    .Cadastro .Color::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    .Cadastro .Color::-webkit-color-swatch {
        border: none;
    }
    .Cadastro .Legend {
        color: white;
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-weight: 900;
        text-shadow: 0 0 2px rgba(0,0,0,1);
    }
    .Cadastro .Submit {
        width: 100%;
        padding: 15px 10px;
        border-radius: 3px;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
        background-color: #4A86E8;
        font-size: 1.3em;
        border: none;
        font-family: 'Roboto Condensed', sans-serif;
        text-shadow: 0 0 2px rgba(0,0,0,1);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }
    .Conferencia {
        font-family: Roboto, sans-serif;
    }
    .Conferencia .Item-Destaque-Portrait {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100px 100px 0;
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
    }
    .Conferencia .Item-Destaque-Landscape {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100px 0 0 100px;
        position: absolute;
        visibility: hidden;
        left: 0;
        bottom: 0;
    }
    .Conferencia .Video {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Conferencia .Video * {
        height: 100%;
        object-fit: cover;
    }
    .Conferencia .Convidados {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .Conferencia .Item {
        padding: 5px 10px;
    }
    .Conferencia .Item-Video {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid rgba(255,255,255,.9);
        background-color: black;
        position: relative;
    }
    .Conferencia .Item-Video * {
        height: 100%;
        object-fit: cover;
    }
    .Conferencia .Item-Descricao {
        text-align: center;
        border-radius: 3px;
        margin-top: -15px;
        position: relative;
    }
    .Conferencia .Item-Descricao:before {
        z-index: -1;
        bottom: 100%;
        left: 0;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent rgba(0,0,0,.5) transparent;
    }
    .Conferencia .Item-Descricao:after {
        z-index: -1;
        bottom: 100%;
        right: 0;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent rgba(0,0,0,.5) transparent;
    }
    .Conferencia .Item-Nome {
        color: white;
        text-shadow: 0 0 2px rgba(0,0,0,1);
        text-transform: uppercase;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
    }
    .Conferencia .Item-Nome:before {
        content: '';
    }
    .Monitoramento {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 40% auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: Roboto, sans-serif;
    }
    .Monitoramento-Relatorios {
        display: grid;
        grid-template-rows: auto 100px;
    }
    .Monitoramento-Detalhes {
        background-color: rgba(0,0,0,.1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }
    .Monitoramento-Detalhes .Monitoramento-Item {
        text-transform: uppercase;
        padding: 10px 0;
    }
    .Monitoramento-Detalhes .Monitoramento-Item + .Monitoramento-Item {
        border-top: 1px solid rgba(0,0,0,.2);
    }
    .Monitoramento-Sinalizacoes {
        padding: 20px;
    }
    .Monitoramento-Acoes {
        width: 100%;
        font-size: 1.2em;
    }
    .Monitoramento-Acoes .Monitoramento-Conectado {
        padding: 10px 15px;
        border-radius: 3px;
    }
    .Monitoramento-Acoes .Monitoramento-Item:nth-child(even) .Monitoramento-Acao {
        background-color: rgba(0,0,0,.2);
    }
    .Monitoramento-Acoes .Monitoramento-Item:nth-child(odd) .Monitoramento-Acao {
        background-color: rgba(100,100,100,.1);
    }
    .Monitoramento-Acao {
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .Monitoramento-Cabecalho {
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 10px;
        font-size: 1.4em;
    }
    .Monitoramento-Conectados {
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .Monitoramento-Conectados .Monitoramento-Item {
        width: 50%;
        height: 50%;
        overflow: hidden;
        position: relative;
    }
    .Monitoramento-Conectado {
        color: white;
        font-weight: 900;
        text-transform: uppercase;
        text-shadow: 0 0 1px black;
    }
    .Monitoramento-Conectados .Monitoramento-Conectado {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        font-size: 1.4em;
    }
}
@media screen and (orientation: portrait)
{
    .Conferencia .Item-Destaque-Portrait {
        visibility: visible;
    }
    .Conferencia .Convidados {
        overflow : auto;
    }
}
@media screen and (orientation: landscape)
{
    .Conferencia .Video * {
        width: 100%;
    }
    .Conferencia .Convidados {
        top: initial;
        left: 0;
        bottom: 0;
        height: 125px;
        white-space: nowrap;
        overflow: auto;
    }
    .Conferencia .Item {
        display: inline-block;
    }
    .Conferencia .Fixado,
    .Conferencia .Dinamicos {
        display: inline-block;
    }
    .Conferencia .Item-Destaque-Landscape {
        visibility: visible;
    }
}